extends layout

block content
    .w3-display-middle(style="width:100%; heigth:100%")
        form.w3-container(method='POST' action='/evento' style='z-index: 2; opacity: 0.9; max-width:500px; margin:auto').w3-charcoal
            .w3-center
                h3 NOVO EVENTO
            div(class="input-container")
            input.w3-input(type='text' name='data' placeholder='Data: AAAA-MM-DD')
            input.w3-input(type='text' name='tipo' placeholder='Tipo: ...')
            input.w3-input(type='text' name='designacao' placeholder='Designação')
            input.w3-input(type='text' name='local' placeholder='Local')
            .w3-center
                b
                    input.w3-btn.w3-pale-gold.w3-section(type='submit' value='ENVIAR')