doctype html
html
  head
    title iBanda
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_back.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    style.
      body {
        /*background-color: #fefefe;*/
        /*background-image: url('images/bateria.gif');
        background-size: cover;*/
        font-family: 'Raleway', sans-serif;;
        height: 100%;
        margin: 0;
      }
  body
    block content