doctype html
html
    head
        title iBanda
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
        style.
            body {
                /*background-color: #fefefe;*/
                background-image: url('images/giphy.gif');
                background-size: cover;
                font-family: "Lato", sans-serif;
                height: 100%;
                margin: 0;
            } 
    body
        .w3-content
            .w3-display-middle
                .w3-container.w3-charcoal
                    .w3-margin.w3-padding-large
                        img(src="/images/ibanda2.png", style={height:'90px'}).w3-center
                        form.w3-container(method='POST' action='/')
                            input.w3-input.w3-section(type='text' name='username' placeholder='Email')
                            input.w3-input.w3-section(type='text' name='passwd' placeholder='Palavra-passe')
                            .w3-center
                                input.w3-btn.w3-pale-gold.w3-section(type='submit' value='Iniciar Sessão')