body {
    background-color: #fefefe;
    font-family: "Lato", sans-serif;
    height: 100%;
    margin: 0;
} 

.fa {
    font-family: "Lato", sans-serif;
}

nav {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}
      
a {
    text-decoration: none;
    color: #c0b283;
    margin: 0 30px;
}
      
a:hover {
    color: #373737;
}