body {
    background-color: #fefefe;
    font-family: "Lato", sans-serif;
    height: 100%;
    margin: 0;
} 

.navbar {
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    display: block;
    font-size: 16px;    
    border: none;
    outline: none;
    color: #fefefe;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #c0b283;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    padding: 14px 16px;
	float: right;
    font-size: 15px;
    color: #373737;
    text-decoration: none;
}

.subnav-content a:hover {
    color: #fefefe;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav:hover .subnavbtn {
    background-color: #c0b283;
}

.subnavbtn:hover{
    color: #fefefe;
}
